/* Navbar.css */

.navbar-container {
    display: block; /* block */
    /* Add any additional styles for the navbar container here */
  }
  
  .navbar-item {
    display: flex; /* flex */
  }
  
  .navbar-link {
    padding-bottom: 30px; /* pb-[30px] */
    font-weight: 500; /* font-[500] */
    padding-left: 1.5rem; /* px-6 */
    padding-right: 1.5rem; /* px-6 */
    cursor: pointer; /* cursor-pointer */
    color: black; /* Default text color */
  }
  
  .navbar-link.active {
    color: #17dd1f; /* Active link color */
  }
  
  .navbar-link.inactive {
    color: black; /* Inactive link color */
  }
  
  @media (min-width: 800px) {
    .navbar-link {
      padding-bottom: 0; /* 800px:pb-0 */
      color: #fff; /* 800px:text-[#fff] */
    }
  }