.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%; 
    background-color: hsl(210, 17%, 98%); 
    position: absolute;
    left: 0;
    
}

.welcome-section {
    margin-bottom: 20px;
}

.dashboard-stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    margin-bottom: 20px;
}

.dashboard-card {
    flex: 1 1 30%; 
    margin: 10px; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease;
}

.recent-activity, .quick-actions {
    margin-top: 20px;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
}
