.hero-container{
    /* position: relative; */
    min-height: 100vh;
    width: 100%;
    background-image: url(https://www.msm.edu/online/makingmedicines/images/makingmedicines784.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.hero-content {
    width: 90%;
    max-width: 60%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-title {
display: inline-block;
color: #fff;
}

.shop-button {
    margin-top: 5px;
    background-color: #3d3a3a;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.shop-button:hover {
    background-color: #5a5858;
}

.shop-text {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    
}